{% extends 'base.html' %} {% block head %}
<title>Albums</title>
{% endblock %} {% block body %}
<div class='container'>
    <!-- Table-->
    <table class="table table-hover">
        <thead>
            <tr>
                <!-- Album Favourite-->
                <th scope="col">Cover</th>
                <th scope="col">Album</th>
                <th scope="col">Artist</th>
                <th scope="col">Realeased</th>
                <th scope="col">Favourites</th>
                <th scope="col">Is favourite</th>

            </tr>
        </thead>
        <tbody>
            <!-- List of albums-->
            {% for album in Albums %}
            <tr>

                {% if album.album_cover %}
                <td>
                    <img src="{{ album.album_cover.url }}" class="img-responsive" width=55 length=55 >
                </td>
                {% else %}
                <td>
                    <img src="/media/empty.jpeg" class="img-responsive" width=55 length=55 >
                </td>
                {% endif %}
                <td>
                    <a class="text-primary" href="{% url 'details_album' album.id%}">{{album.album_title}}</a>
                </td>
                <td>by
                    <a class="text-primary" href="{% url 'details_artist' album.artist.id%}">{{album.artist}}</a>
                </td>
                <td>{{album.realeased}}</td>
                <td>{{album.userprofile_set.count}}</td>
                
               
                {% if album in userprofile.favourite_albums.all %}
                <td>
                    <a href="{% url 'favourite_album' album.id %}" class="btn btn-default btn-sm" role="button">
                        <span style="color: rgb(230, 128, 142); font-size:2em;" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </a>
                </td>
                {% else %}
                <td>
                    <a href="{% url 'favourite_album' album.id %}" class="btn btn-default btn-sm" role="button">
                        <span style="color:  rgb(230, 128, 142);font-size:2em;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </a>
                </td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{% url 'edit_album' album.id %}" role="button">Edit </a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{% url 'delete_album' album.id %}" role="button">Delete </a>
                </td>

            </tr>
            {% endfor %}


        </tbody>

    </table>
    <a class="btn btn-primary" href="{% url 'create_album' %}" role="button">Add Album</a>
    <a class="btn btn-primary" href="{% url 'create_album_wiki' %}" role="button">Add Album Wiki</a>
</div>
{% endblock %}