{% extends 'base.html' %} {% block head %}
<title>Albums</title>
{% endblock %} {% block body %}
<div class='container'>
    <!-- Table-->
    <table class="table table-hover">
        <thead>
            <tr>
                <!-- Album Favourite-->
                <th scope="col">Cover</th>
                <th scope="col">Album</th>
                <th scope="col">Artist</th>
                <th scope="col">Realeased</th>
                <th scope="col">Favourites</th>
                <th scope="col">Is favourite</th>

            </tr>
        </thead>
        <tbody>
            <!-- List of albums-->
            {% for album in Albums %}
            <tr>

                {% if album.album_cover %}
                <td>
                    <img src="{{ album.album_cover.url }}" class="img-responsive" width=55 length=55 >
                </td>
                {% else %}
                <td>
                    <h3> No img </h3>
                </td>
                {% endif %}
                <td>
                    <a class="text-primary" href="{% url 'details_album' album.id%}">{{album.album_title}}</a>
                </td>
                <td>by
                    <a class="text-primary" href="{% url 'details_artist' album.artist.id%}">{{album.artist}}</a>
                </td>
                <td>{{album.realeased}}</td>
                <td>#</td>
                {% if album.is_favourite %}
                <td>
                    <a class="text-success" href="{% url 'favourite_album' album.id%}">Yes</a>
                </td>
                {% else %}
                <td>
                    <a class="text-danger" href="{% url 'favourite_album' album.id%}">No</a>
                </td>
                {% endif %}
                <td>
                    <a class="btn btn-danger" href="{% url 'delete_album' album.id %}" role="button">Delete </a>
                </td>

            </tr>
            {% endfor %}


        </tbody>

    </table>
    <a class="btn btn-primary" href="{% url 'create_album' %}" role="button">Add Album</a>
</div>
{% endblock %}