{% extends 'base.html' %}

<head>
    {% block head %}
    <title>{{album.album_title}}</title>
    {% endblock head %}
</head>
{% block body %}
<div class='container'>
    <br>
    <h3>{{album.album_title}}
        <small class="text-muted">by</small> {{album.artist}}</h3>
    {% if album.album_cover %}
    <img src="{{ album.album_cover.url }}" class="img-responsive" width=300 length=300> 
    {% else %}
    <img src="{{ image }}" class="img-responsive" width=300 length=300> 
    {% endif %}
    <!-- If songs in Album -->
    {% if album.song_set.all %}
    <!-- Table-->
    <table class="table table-hover">
        <thead>
            <tr>
                <!--Numer Song-->
                <th scope="col">Number</th>
                <th scope="col">Song title</th>
            </tr>
        </thead>
        <tbody>
            <!-- List of songs-->
            {% for song in album.song_set.all %}
            <tr>
                <td>{{song.position}}</td>
                <td>{{song}}</td>
            </tr>
            {% endfor %}
            <!-- Else - no songs -->
            {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--Number Song-->
                        {% for head in headers %}
                        <th scope="col">{{head}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- List of songs-->
                    {% for song in songs %}
                    <tr>
                       {% for item in song %}
                        <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <a class="btn btn-primary" href=# role="button">Add Song</a>
                    {% endif %}
                </tbody>
            </table>
</div>
{% endblock %}