{% extends 'base.html' %}


    {% block body %}
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-3">Join thebath</h1>
            <p class="lead">Share your music interests with others</p>
            <hr class="my-4">
            <p>Find translation of your favourite songs</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/albums/" role="button">Learn more</a>
            </p>
        </div>
    </div>
    {% endblock body %}